[submodule "vim/bundle/colors-solarized"]
	path = vim/bundle/colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/scss-syntax"]
	path = vim/bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "vim/bundle/textile"]
	path = vim/bundle/textile
	url = https://github.com/timcharper/textile.vim.git
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/octopress"]
	path = vim/bundle/octopress
	url = https://github.com/tangledhelix/vim-octopress.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/rake"]
	path = vim/bundle/rake
	url = https://github.com/tpope/vim-rake.git
[submodule "vim/bundle/bundler"]
	path = vim/bundle/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/trailing-whitespace"]
	path = vim/bundle/trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/json"]
	path = vim/bundle/json
	url = git://github.com/inkarkat/vim-json.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/sensible"]
	path = vim/bundle/sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/sleuth"]
	path = vim/bundle/sleuth
	url = git://github.com/tpope/vim-sleuth.git
[submodule "vim/bundle/splitjoin"]
	path = vim/bundle/splitjoin
	url = git://github.com/AndrewRadev/splitjoin.vim.git
[submodule "vim/bundle/dispatch"]
	path = vim/bundle/dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "vim/bundle/golang"]
	path = vim/bundle/golang
	url = git@github.com:jnwhiteh/vim-golang.git
[submodule "vim/bundle/wombat256mod"]
	path = vim/bundle/wombat256mod
	url = git@github.com:michalbachowski/vim-wombat256mod.git
[submodule "vim/bundle/signify"]
	path = vim/bundle/signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/bundle/copy-as-rtf"]
	path = vim/bundle/copy-as-rtf
	url = https://github.com/zerowidth/vim-copy-as-rtf
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/toml"]
	path = vim/bundle/toml
	url = https://github.com/cespare/vim-toml.git
[submodule "vim/bundle/codereview"]
	path = vim/bundle/codereview
	url = https://github.com/codegram/vim-codereview.git
[submodule "vim/bundle/patchreview-vim"]
	path = vim/bundle/patchreview-vim
	url = https://github.com/junkblocker/patchreview-vim.git
[submodule "vim/bundle/sideways"]
	path = vim/bundle/sideways
	url = git@github.com:AndrewRadev/sideways.vim.git
[submodule "vim/bundle/ag"]
	path = vim/bundle/ag
	url = git@github.com:rking/ag.vim.git
